In [1]:
import json
import sys
import os.path
import pandas as pd

# add penemue to path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))
from utils import twiterate

In [2]:
def get_date(tweet, search):
    if tweet['user']['id_str'] in search:
        return (tweet['id_str'], tweet['created_at'])

In [3]:
journalists = json.load(open('../data/output/journalist_id_strs.json'))

In [4]:
joi_dates = twiterate(lambda t : get_date(t, journalists))

[Progress]
[=================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================]

In [5]:
df = pd.DataFrame(joi_dates, columns=['id_str', 'created_at'])

In [6]:
df['created_at'] = pd.to_datetime(df['created_at']).dt.date

In [7]:
df = df.sort_values(['created_at'])

In [8]:
df = df.groupby(['created_at']).count()

In [9]:
df

            id_str
created_at
2016-06-30    2073
2016-07-01   19561
2016-07-02   14468
2016-07-03   12204
2016-07-04   17766
2016-07-05   22821
2016-07-06   27024
2016-07-07   25088
2016-07-08   23526
2016-07-09   13720
2016-07-10   15210
2016-07-11   24669
2016-07-12   24946
2016-07-13   28998
2016-07-14   27755
2016-07-15   22488
2016-07-16   15160
2016-07-17   12991
2016-07-18   22446
2016-07-19   28449
2016-07-20   26296
2016-07-21   26433
2016-07-22   27042
2016-07-23   14400
2016-07-24   12409
2016-07-25   19668
2016-07-26    8411
2016-07-27    1604

In [10]:
organisations = json.load(open('../data/output/organisation_id_strs.json'))

In [11]:
ooi_dates = twiterate(lambda t : get_date(t, organisations))

[Progress]
[=======================================]

In [12]:
df = pd.DataFrame(ooi_dates, columns=['id_str', 'created_at'])

In [13]:
df['created_at'] = pd.to_datetime(df['created_at']).dt.date

In [14]:
df = df.sort_values(['created_at'])

In [15]:
df = df.groupby(['created_at']).count()

In [16]:
df

            id_str
created_at
2016-06-30      98
2016-07-01    1393
2016-07-02    1000
2016-07-03    1000
2016-07-04    1538
2016-07-05    1600
2016-07-06    1928
2016-07-07    1867
2016-07-08    1710
2016-07-09     982
2016-07-10    1099
2016-07-11    1718
2016-07-12    1781
2016-07-13    1799
2016-07-14    1774
2016-07-15    1535
2016-07-16    1118
2016-07-17    1063
2016-07-18    1809
2016-07-19    1864
2016-07-20    1938
2016-07-21    1877
2016-07-22    1723
2016-07-23    1013
2016-07-24    1010
2016-07-25    1563
2016-07-26     597
2016-07-27     211